<!-- CTA -->
<section id="cta" class="wrapper">
    <div class="inner">
        <header>
            <h2>Let's Talk</h2>
            <span class="left">Have a project in mind? Got a question about outsourcing? Let's talk. Schedule a free 30 minute consultation call with me.
            </span>
            <span class="right">
                    <a href="/schedule/" class="button special right">Schedule a Call</a>
            </span>
        </header>
        {% comment %}
        <ul class="actions vertical">
            <li><a href="/schedule/" class="button special">Schedule a Call</a></li>
            <!--li><a href="/contact" class="button">Send a Message</a></li-->
        </ul>
        {% endcomment %}
    </div>
</section>
<!-- CTA end -->
