---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    {% if page.subtitle %}
    <p>{{ page.subtitle }}</p>
    {% endif %}
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
  <!-- CTA -->
  <section id="cta" class="wrapper">
      <div class="inner">
          <header>
              <h2>Let's Talk</h2>
              <p>Have a project in mind? Got a question about outsourcing? Let's talk. Schedule a free 30 minute consultation call with me.</p>
          </header>
          <ul class="actions vertical">
              <li><a href="calendly.html" class="button xfit special">Schedule a Call</a></li>
              <li><a href="contact.html" class="button xfit">Send a Message</a></li>
          </ul>
      </div>
  </section>

</article>
